.bodyMain{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: max-content;
}

.main{
  display: flex;
  height: fit-content;
  justify-content: space-around;
  padding: 20px;
  padding-bottom: 5px;
}

.inform{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.title{
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}

.news{
  font-weight: 400;
  text-align: justify;
  font-size: larger;
} 

.mainImg{
  padding: 5px;
  padding-bottom: 0px;
  background-color: c3181c;
  border-radius: 15px;
  margin-bottom: 5px;
}

.topimg{
  border-radius: 15px;
  width: 970px;
  height: 400px;
}

.sugest{
  background-color: 2d963e;
  display: flex;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-around;
}

.box{
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.botimg{
  height: 170px;
  width: 290px;
  border-radius: 10px 10px 0px 0px;
}

.title2{
  text-align: center;
  font-size: larger;
  font-weight: 600;
}









.sugestao{
 
  padding: 20px;
 
}
.componentes{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin: 10px;
  padding: 0px;
  font-weight: bold;
  border-radius: 15px;
  flex-wrap: wrap;

  

}
.divcomponentes{
  background-color: gray;
  display: flex;
  border-radius: 15px;
  justify-content: center;

}