.main{
  display: flex;
  height: 500px;
  justify-content: space-around;
  margin: 30px;
}

.inform{
  display: flex;
  flex-direction: column;
  padding: 10px 30px 10px 30px;
}

.title{
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}

.news{
  font-weight: 400;
  text-align: justify;
  font-size: larger;
}

.topimg{
  width: fit-content;
  height: 440px;
}